<h1>Carson Lian</h1>

<img src="/assets/me.jpg" />

<p>Hi!</p>
<p style="color: white; background-color: green"> I'm from Richmond, CA.</p>
<p>I'm a second year.</p>
<p style="color: red"><b>A fun fact about myself is that I'm a brother of Alpha Sigma Phi.</b></p>
<p style="color: blue"><u>I'm really excited about learning to build things in this class.</u></p>
